<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiqih.ta_funherbal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.TA_FunHerbal">
        <activity
            android:name=".Activity.LokasiActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.KuisActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.TanamanActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoJintanHitamActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoJaheActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSingkongActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSagaActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunPeganganActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunPacarCinaActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunNgokiloActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunMianaActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunKelorActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunDewaActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSirihActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSembungActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSemanggiActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoDaunSambilotoActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoBrotowaliActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoBlustruActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoBelimbingWuluhActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoBayamDuriActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoBayamActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoAkarWangiActivity"
            android:exported="true" />
        <activity
            android:name=".VideoActivity.VideoActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangeEmail"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>